.unity-label {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    white-space: normal;
    -unity-text-align: middle-left;
}

.unity-base-dropdown {
    height: 150px;
    min-height: 150px;
}

.unity-base-dropdown__item {
    font-size: 20px;
    -unity-text-align: middle-left;
    color: rgb(0, 0, 0);
    height: 55px;
    min-height: 55px;
}